.slider-container {
  padding: 40px;
  width: 90%;
  height: 210px;
  background: gray;
}

.slider {
  width: 100%;
  height: 100%;
  background-color: green;
}

.arrow-buttons {
  background-color: red;
}