// .reviewList {
//   overflow: scroll;
//   height: 80vh;
// }

.ratingBar:hover {
  background-color: aquamarine;
}

.ratingBarSelected {
  background-color: aquamarine;
}


.middleBar {
  content: "";
  background: #525252;
  margin-left: -2px;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  position: absolute;
  top: -webkit-calc(50% - 4px);
  top: calc(50% - 7px);
}

.productBreakDown {
  background-color: #f3f4f3;
}

.body {
  font-family: 'graphik,Helvetica,Arial,sans-serif'
}

.reviewListResponse {
  background-color: #f3f4f3;
  margin: 10px;
  padding: 10px;
}

.reviewSummary {
  color: #22577E;
  margin-top: 10px;
  margin-bottom: 5px;
}

.reviewBody {
  margin-bottom: 10px;
  color: #525E75;
}

.helpYes:hover,
.helpNo:hover {
  color: #161912
}

.sortOption {
  font-size: large;
  margin-bottom: 10px;
  font-weight: bold;
}

.userName {
  font-weight: bold;
  margin-bottom: 5px;
  color: #78938A;
}

.date {
  color: #78938A;
  font-weight: bold;
}

.styleBar {
  background-color: #e5e5e5;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 9px auto;
  width: 100%;
  position: relative;
  height: 8px;
  border: 1px solid #7c7c7c;
  width: 80%;
}

i {
  background: #7c7c7c;
  display: inline-block;
  width: 1px;
  height: 8px;
}