@import "~react-image-gallery/styles/scss/image-gallery.scss";
.image-gallery-slide  {
  width: 100%;
  height: 40vh;
}


.fullscreen .image-gallery-slide  {
  min-height: 100vh;
}
.image-gallery{
  background-color: rgb(255, 255, 255);
}
.image-gallery-thumbnail {
  width: auto;

}

.image-gallery-thumbnail img {
  width: auto;
  height: 75px;


}