$font-FamilySans: "adobe-clean", sans-serif;

.sale-price {
  padding-top: 10px;
  padding-left: 1px;
color: red;
font-family:$font-FamilySans;
}
.original-price{
  color: black;
  display: inline-block;
  font-family:$font-FamilySans;
}
.original-price-strike {
  color: black;
  display: inline-block;
  text-decoration: line-through;
  padding-left: 4px;
  font-family:$font-FamilySans;
}
.read-reviews {
margin-left: 5px;
display: inline-block;
color: rgb(106, 106, 106);
text-decoration: underline;
font-size: 12px;
font-family:$font-FamilySans;
}

.category-title {
  color: rgb(106, 106, 106);
  padding-top: 10px;
  padding-left: 2.5px;
  font-family: $font-FamilySans

}
.name-title{
  color: rgb(65,65,65);
  font-size:30px;
  font-weight: bold;
  font-family: $font-FamilySans
}
.dollar{
  color: rgb(65,65,65);
  display: inline-block;
  font-family: $font-FamilySans

}
.product-description{
  color: rgb(65,65,65);
  font-family: $font-FamilySans;
  text-align: center;
}

.product-slogan{
  color: rgb(65,65,65);
  font-family: $font-FamilySans;
  font-weight: 600;
  text-align: center;
}

.overview-container {  display: grid;
  grid-template-columns: 1.4fr 0.6fr;
  grid-template-rows: 1.6fr 0.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "image-carousel info-panel"
    "product-info-container .";
}

.image-carousel {
  grid-area: image-carousel;
  background-color: rgb(230,230,230);
  text-align: center;
  height: 50vh;

}
.image-carousel img{
  width: 100%; /* or any custom size */
  height: 100%;
  object-fit: contain;
}



.info-panel { grid-area: info-panel; }

.product-info-container { grid-area: product-info-container; }
