:root {
  --star-size: 13px;
  --star-color: #fff;
  --star-background: rgb(65, 65, 65);

}

.Stars {
  padding-left: 2.5px;
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times; // make sure ★ appears correctly
  line-height: 1;
  -webkit-text-stroke: 1px rgb(65, 65, 65);

  &::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    background-clip:initial;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
