body.active-modal {
  overflow-y: hidden;
}

// Text in modal box
.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.modal {
  z-index: 1;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 700px;
  min-width: 500px;
  max-height: 400px;
  min-height: 300px;
  border-style: solid;
  text-align: center;
  overflow-y: scroll;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

td {
  height: 80px;
  width: 160px;
  text-align: center;
  vertical-align: top;
}

#rating-num {
  position: relative;
  top: 1px;
  left: 5px;
}