// body {
//   font-family: "Lucida Console",
//     "Courier New",
//     monospace;
// }

html {
  scroll-behavior: smooth;
  background-color: #DFDFDE;
}

.overview-container {
  padding-top: 25px;
}